 @media (max-width: 991px){
      .col-calculator {
         padding-left: 155px;
     }
     .resultCss {
         width: 131%;
     }
 }
 @media (max-width: 870px){
     .resultCss {
         width: 116%;
     }
     #operation {
         left: 213px;
     }
     .colPad {
         padding-left: 0px;
     }
     .col-calculator {
         padding-left: 110px;
     }
     .container {
         max-width: 745px;
     }
 }
 @media (max-width: 782px){
     .resultCss {
         width: 125%;
     }
 }
 @media (max-width: 770px){
     .col-calculator {
         padding-left: 37px;
     }
     .resultCss {
         width: 188%;
     }
     .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 63%;
    }
 }
 @media (max-width: 726px){
     .inputCss {
         margin-right: 16px;
     }
     #operation {
         left: 208px;
     }
 }
 @media (max-width: 719px){
     .panelBody {
         border: none;
     }
     .resultCss {
         width: 100%;
         padding: 14px;
     }
     .colPad{
         padding-top: 0;
         padding-left: 40px;
     }
     .col-calculator {
         padding-top: 0px;
         padding-left: 0px;
     }
     .col{
         display: contents;
     }
     .inputCss {
         margin-right: 0px;
         width: 100px;
         height: 19px;
     }
     #operation {
         left: 122px;
     }
     h2 {
         font-size: 13px;
     }
     .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
         width: 0 auto;
     }
     .rowPadNum {
         width: 270px;
     }
 }
 @media (max-width: 570px){
     .col-calculator {
         padding-left: 10px;
     }
     body {
         margin: 0px;
     }
     .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
         padding-right: 0px;
         padding-left: 0px;
     }
     .colPad {
         padding-top: 30px;
         padding-left: 23px;
     }
 }
 @media (max-width: 400px){
     .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 76%;
}
 }
