body{
    margin: 40px;
}
.container{
    margin-top: 60px;
    max-width: 780px;
    margin: 0 auto;
}
h2{
    font-size: 18px;
}
input{
    outline: none;
}
.inputCss{
    background-color: #6495E0;
    border: none; 
    margin-right: 30px;
    font-size: 12px;
}
.panelBody{
    background-color: #fff;
    border: 1px solid #87CEFA;
}
.colPad{
    padding-top: 40px;
    padding-left: 40px;
}
.calculator-btn{
    margin-top: 35px;   
}
.col-calculator{
    padding-top: 24px;
}
.column{
    display: flex;
}
.rowPadNum{
    padding: 5px;
    width: 261px;
}
.btn-primary{
    border-radius: 50%;
    background-color: #afeeee;
    color: #000;
    font-size: 18px;
}
.btn.btn-primary{
    border: 8px solid #1E90FF;
    width: 23%;
}
.btn-primary-options{
    background-color: #fff;
}
.fas{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    width: 100%;
}
.btn{
    border: 1px solid #000;
    margin: 5px;
}
.btn-info{
    color: #000;
    background-color: #afeeee;
    border-color: transparent;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
}
.resultCss{
    border: none;
    border-bottom: 2px solid #0000CC;
    width: 88%;
    padding: 37px
}
.inputswrapper {
    position: relative;
}
#operation {
    position: absolute;
    left: 218px;
    bottom: 5px;
}